<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Makers" value="E:\OneDrive\Dynamics365Book\8thImages\Maker.csv"/>
    <add key="Model" value="E:\OneDrive\Dynamics365Book\8thImages\Models.csv"/>
    <add key="OrgURL" value="https://himbapauto.api.crm8.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="mpal@himbapauto.onmicrosoft.com"/>
    <add key="Password" value="Himbap123"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
 
</configuration>